<div class="spinner-container" *ngIf="!loaded">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<div class="player-container" [@fade]="loaded?'in':'out'">
  <div class="box">
    <app-player></app-player>
    <app-playlist [list]="songs" (itemSelected)="current.next($event)"></app-playlist>
  </div>
</div>

<!--<a target="_blank" [href]="siteConfig.facebookUrl" class="facebook-container" [@fade]="'in'" *ngIf="loaded">
  <img src="/assets/facebook.png" alt="facebook">
</a>-->