<div class="spinner-container" *ngIf="!loaded">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<div class="player-container" [@fade]="loaded?'in':'out'">
  <div class="box">
    <app-player></app-player>
  </div>
</div>

<div class="playlist" [@fade]="'in'" *ngIf="playlistMode">
  <div class="scroll-container">
    <ul slimScroll [options]="scrollbarOptions">
      <li *ngFor="let song of songs" [class.active]="current === song" (click)="play(song)">
        <div class="name">{{song.name}}</div>
        <div class="artist">{{song.artist}}</div>
      </li>
    </ul>
  </div>
</div>

<!--<a target="_blank" [href]="siteConfig.facebookUrl" class="facebook-container" [@fade]="'in'" *ngIf="loaded">
  <img src="/assets/facebook.png" alt="facebook">
</a>-->