@import '../base';

/*
 * Variables
 **/
$background-alpha: 0.8;

:host {
    display: flex;
    flex-direction: column;
    height: $playlist-size;
/*    background: -webkit-linear-gradient(45deg, rgba(238, 0, 133, $background-alpha), rgba(235, 141, 6, $background-alpha));
    background: linear-gradient(45deg, rgba(238, 0, 133, $background-alpha), rgba(235, 141, 6, $background-alpha));*/
    background: #34495e;
    overflow: hidden;
}

div.slim {
    height: 100%;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4px 16px;
        color: #FFFFFF;
        border-bottom: solid 1px rgba(0,0,0,.1);
        cursor: pointer;
        font-size: 10pt;
        
        &:last-child {
            border-bottom: none;
        }
        &.active {
            background: $primary-color;
        }
        .num {
            flex-basis: 32px;
        }
        .name, .artist {
            display: inline-block;
        }
        .artist {
            font-size: 9pt;
            color: rgba(255, 255, 255, .8);
        }
    }
}