@import url('https://fonts.googleapis.com/css?family=Athiti:400,700&subset=vietnamese');

* {
    box-sizing: border-box;
    font-family: 'Athiti', sans-serif;
    user-select: none;
}
html,body {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    background: url(/assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/***
 * Slider
 **/
.slider {
    margin-top: 10px;
    margin-bottom: 10px;
    flex: 1;
    width: 4px;
    background: #CCC;
    border-radius: 3px;
    position: relative;
    opacity: 0;
    transition: all ease 0.5s;
    transition-delay: 0.5s;
}

.volume-control:hover .slider {
    opacity: 1;
    transition-delay: 0s;
}

.slider .ui-slider-range {
    width: 4px;
    background: #e74c3c;
    border-radius: 3px;
}

.slider .ui-slider-handle {
    width: 16px;
    height: 16px;
    background: #c0392b;
    display: block;
    border-radius: 50%;
    position: relative;
    top: -6px;
    left: -6px;
    outline: none;
}

/***
 * Facebook Icon
 */

.facebook-container {
    display: block;
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 0;
    height: 0;
    border: solid 32px #3498db;
    border-top-color: transparent;
    border-left-color: transparent;
    transition: all ease 200ms;
}

.facebook-container > img {
    transform: translateX(2px) translateY(2px);
}

.facebook-container:hover {
    border-right-color: #2980b9;
    border-bottom-color: #2980b9;
    right: 0;
    bottom: 0;
}